.chart-parent {
  height: 400px !important;
}

.inputText {
  height: 100% !important;
  font-family: source-code-pro, Menlo, "Courier New", monospace;
  overflow: hidden;
}

.handleBottom {
  background-color: #282a36;
  height: 20px;
  width: 100%;
  padding: 0;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
